body{
    background: skyblue;
    font-family: verdane;
    color: white;
    padding: 30px;
}
h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
h2 {
    font-size: 36px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
}
p, li {
    font-size: 16px;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}